body {
    background-color: #337ab7;
    font-family: 'Zilla Slab', serif;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
}

.jumbotron img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.20;
}

.jumbotron h1 {
  padding: 0px;
  position: relative;
  z-index: 2;
  color: rgba(51, 51, 51, 1);
  font-size: 72px;
}

.jumbotron h2 {
  padding: 0px;
  position: relative;
  z-index: 2;
  color: rgba(102, 102, 102, 1);
  font-size: 36px;
}

label {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
input {
    margin-left: 10px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

input::placeholder {
    color: #aaa;
    font-size: 16px;
}

input#sentence {
    width: 600px;
}

.btn-primary {
    margin-top: 20px;
    background-color: #fff;
    color: #337ab7;
    font-size: 16px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #dedede;
    color: #337ab7;
    font-weight: 700;
}

h3.results {
    color: #fff;
}
